.col-md-12.footer
    .col-md-4.top
        h3 Lean + Innovate
        p 
            | Leannovate provides content for young and aspiring entrepreneuers to learn more about solving a problem and how to create an amazing and innovative startup.
    .col-md-2
    .col-md-2.cols
        h4 Menu
        ul.list-unstyled
            li 
                a(href='/top') Top Ten
            li 
                a(href='/speak') Speak Startup
            li 
                a(href='/readings') Recommended Books
    .col-md-2.cols
        h4 Contact
        ul.list-unstyled
            li 
                a(href='https://twitter.com/leannovate', target='_blank') Twitter
            li 
                a(href='#') Instagram
            li 
                a(href='leannovate@gmail.com') Email
    .col-md-2.cols
        h4 Others
        ul.list-unstyled
            li
                a(href='/about') About Us
            li 
                a(href='#') Suggestion
            li 
                a(href='#') Submit a Link
    .col-md-12.bottom
        hr
        p Copyright © 2016 Leannovate
