meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(charset="UTF-8")

// Favicon and Title
title #{title}
link(rel='shortcut icon', href='/img/favicon.png')

// META TAGS
meta(property='og:title', content='#{metaTitle}')
meta(property='og:description', content='#{metaDescription}')

// CSS CDNs
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css')
link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

// MY CSS FILE
link(rel='stylesheet', href='/scss/design.css', media="all")